<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="firstName" placeholder="First Name"><br>
        <input type="text" name="lastName" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="username"><br>
        <input type="email" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Create password"><br>
        <input type="password" name="cpassword" placeholder="Confirm password"><br>
        <button type="submit">Register</button>
        <div>
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
        </div>
    </form>
</body>
</html>