{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="vh-100 d-flex justify-content-center align-items-center container">
    <div class="col-md-5 p-5 shadow-sm border rounded-5 border-bg-dark bg-white">
    <h2 class="text-center mb-4 text-dark-mode">{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class="mt-0">
    <p class="mb-3 text-center alert alert-dark">You've been sent an email from us.</p>
        <p class="mb-0 small "><i>Please check your spam folder if you haven't got it.
        If you do not get it in a short while, please get in touch with us.</i> </p>
    </div>
</div>
</div>
{% endblock %}
